@use "@styles/variable.scss" as *;

.frame {
  width: 90%;
  height: 90%;
  background-color: #647381;
  @include cornerStyles(0, $frame-corner-radius, $frame-corner-radius, 0);
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;

  .table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;

    th,
    td {
      padding: 10px;
      border: 1px solid #ddd;
      font-size: 1.8rem;

      .func {
        width: 20px;
        height: 20px;
        color: #333;
        cursor: pointer;
      }
    }

    th {
      background-color: #333;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
    }

    td {
      background-color: #fff;
    }

    tr:nth-child(even) td {
      background-color: #f9f9f9;
    }

    th:first-child {
      border-top-left-radius: $frame-corner-radius;
    }

    th:last-child {
      border-top-right-radius: $frame-corner-radius;
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: $frame-corner-radius;
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: $frame-corner-radius;
    }
  }

  .create-product {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .create-box {
      width: 218px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #333;
      border-radius: $frame-corner-radius;
      cursor: pointer;

      .create {
        width: 35px;
        height: 35px;
        color: $text-hover-color;
      }

      .text {
        color: $text-hover-color;
        font-size: 1.6rem;
      }
    }
  }

  .pagination {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .pagination-box {
      width: 218px;
      display: flex;
      justify-content: center;
      align-items: center;

      .page-numbers {
        color: $text-hover-color;
        font: {
          size: 1.6rem;
          weight: 600;
        }
        cursor: pointer;
        margin: 0 6px;

        .numbers {
          margin: 0 6px;
        }
      }

      .page-change {
        width: 35px;
        height: 35px;
        color: $text-hover-color;
        background-color: #333;
        border-radius: 999px;
        cursor: pointer;
      }
    }
  }
}
