@use "@styles/variable.scss" as *;

.frame {
  width: 90%;
  height: 90%;
  background-color: #a3abb4;
  @include cornerStyles(0, $frame-corner-radius, $frame-corner-radius, 0);
  padding: 20px 20px 120px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;

  .table-wrapper {
    height: 100%;
    max-height: 800px;
    overflow: auto;

    .table {
      width: 100%;
      border-collapse: collapse;

      thead {
        display: table-header-group;
        position: sticky;
        top: 0;
        background-color: #333;
        z-index: 2;
      }

      thead,
      tbody {
        tr {
          height: 70px;

          th,
          td {
            padding: 4px 10px;
            border: 1px solid #ddd;
            font-size: 1.8rem;

            .func {
              width: 20px;
              height: 20px;
              color: #333;
              cursor: pointer;
            }

            .dropdown {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-weight: 400;
            }
          }

          td:nth-child(4) {
            max-width: 180px;
            white-space: nowrap;
            position: relative;
            cursor: pointer;

            .dropdown {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-weight: 400;
            }

            .popup {
              position: absolute;
              display: none;
              left: -58px;
              top: 20px;
              white-space: normal;
              width: max-content;
              max-width: 300px;
              background-color: #333;
              color: #fff;
              padding: 8px 12px;
              border-radius: 6px;
              font-size: 1.4rem;
              z-index: 9999;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

              &:empty {
                display: none !important;
              }
            }
          }

          td:nth-child(4):hover .popup {
            display: inline-block;
          }

          td:nth-child(6),
          td:nth-child(8),
          td:nth-child(9) {
            position: relative;
            cursor: pointer;

            .expand {
              display: none;
              position: absolute;
              left: -36px;
              top: -20px;
              white-space: normal;
              width: max-content;
              max-width: 300px;
              background-color: #333;
              color: #fff;
              padding: 8px 12px;
              border-radius: 6px;
              font-size: 1.4rem;
              z-index: 9999;
              box-shadow: $white-shadow;

              &:empty {
                display: none !important;
              }

              .is-info {
                margin: 0 12px;

                .is-desc {
                  color: $text-hover-color;
                }
              }

              .img-link {
                color: $text-hover-color;
                display: flex;
                flex-direction: column;

                margin: 0 12px;
                font: {
                  size: 1.6rem;
                  weight: 400;
                }
                transition: transform 0.05s ease-in-out;

                &:hover {
                  font: {
                    weight: 700;
                  }
                  transform: scale(1.1);
                }
              }
            }
          }

          td:nth-child(6):hover .expand {
            display: inline-block;
          }

          td:nth-child(8):hover .expand {
            display: inline-block;
          }

          td:nth-child(9):hover .expand {
            display: inline-block;
          }

          th {
            background-color: #333;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
          }

          td {
            background-color: #fff;
          }

          tr:nth-child(even) td {
            background-color: #f9f9f9;
          }

          th:first-child {
            border-top-left-radius: $frame-corner-radius;
          }

          th:last-child {
            border-top-right-radius: $frame-corner-radius;
          }

          tr:last-child td:first-child {
            border-bottom-left-radius: $frame-corner-radius;
          }

          tr:last-child td:last-child {
            border-bottom-right-radius: $frame-corner-radius;
          }
        }
      }
    }
  }

  .create-product {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .create-box {
      width: 218px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #333;
      border-radius: $frame-corner-radius;
      cursor: pointer;

      .create {
        width: 35px;
        height: 35px;
        color: $text-hover-color;
      }

      .text {
        color: $text-hover-color;
        font-size: 1.6rem;
      }
    }
  }

  .pagination {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .pagination-box {
      width: 218px;
      display: flex;
      justify-content: center;
      align-items: center;

      .page-numbers {
        color: $text-hover-color;
        font: {
          size: 1.6rem;
          weight: 600;
        }
        cursor: pointer;
        margin: 0 6px;

        .numbers {
          margin: 0 6px;
        }
      }

      .page-change {
        width: 35px;
        height: 35px;
        color: $text-hover-color;
        background-color: #333;
        border-radius: 999px;
        cursor: pointer;
      }
    }
  }
}
